
<div class="bg-white ">
  <div class="mx-auto max-w-xl px-4 py-8 lg:max-w-7xl lg:px-8">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900">Our products</h2>
    <p class="mt-4 text-base text-gray-500">Transforming scrap into sustainable treasures, we are Halifax's premier trading destination for recycled materials, contributing to a greener future one transaction at a time.</p>

    <div class="mt-10 space-y-12 lg:grid lg:grid-cols-3 lg:gap-x-8 lg:space-y-0">
      <a href="#" class="group block">
        <div aria-hidden="true" class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg lg:aspect-h-6 lg:aspect-w-5 group-hover:opacity-75 sm:h-48 h-72">
          <img src="./assets/scrap/hsm.jpeg" alt="Brown leather key ring with brass metal loops and rivets on wood table." class="h-full w-full object-cover object-center">
        </div>
        <h3 class="mt-4 text-base font-semibold text-gray-900">HMS 80:20</h3>
        <p class="mt-2 text-sm text-gray-500">Heavy melting steel (HMS) or heavy melting scrap is a designation for recyclable steel and wrought iron.</p>
      </a>
      <a href="#" class="group block">
        <div aria-hidden="true" class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg lg:aspect-h-6 lg:aspect-w-5 group-hover:opacity-75 sm:h-48 h-72">
          <img src="./assets/scrap/shred-steel.jpeg" alt="Natural leather mouse pad on white desk next to porcelain mug and keyboard." class="h-full w-full object-cover object-center">
        </div>
        <h3 class="mt-4 text-base font-semibold text-gray-900">Shredded steel</h3>
        <p class="mt-2 text-sm text-gray-500">It is as per ISRI standard 211. The density is over 70 lbs per cubic feet.</p>
      </a>
      <a href="#" class="group block">
        <div aria-hidden="true" class="aspect-h-2 aspect-w-3 overflow-hidden rounded-lg lg:aspect-h-6 lg:aspect-w-5 group-hover:opacity-75 sm:h-48 h-72">
          <img src="./assets/scrap/acsr2.jpeg" class="h-full w-full object-cover object-center">
        </div>
        <h3 class="mt-4 text-base font-semibold text-gray-900">Non ferrous</h3>
        <p class="mt-2 text-sm text-gray-500">Non-ferrous scap, ACSR/Triplex (65% aluminium) </p>
      </a>
    </div>
  </div>
</div>
