<div class="sm:flex items-center max-w-screen-xl">
  <div class="sm:w-1/2 p-10">
    <div class="image object-center text-center">
      <img src="assets/logos/khan-traders-logo-Transparent-logo.png" alt="">
    </div>
  </div>
  <div class="sm:w-1/2 p-5">
    <div class="text">
      <span class="text-gray-500 border-b-2 border-indigo-600 uppercase">About us</span>
      <h2 class="my-4 font-bold text-3xl  sm:text-4xl text-khanBlue">About <span class="text-khanOrange">Khan Traders</span>
      </h2>
      <p class="text-lg leading-8 text-gray-600 text-justify">
        Welcome to Khan Traders, a key player in the realm of scrap import and export, specializing in facilitating seamless transactions between the rich provinces of Atlantic Canada and Pakistan. Our journey is rooted in a commitment to simplicity,
        ensuring that our clients experience a smooth and straightforward process in the dynamic world of scrap materials trade.
      </p>
      <br>
      <p class="text-lg leading-8 text-gray-600 text-justify">
        As we focus on Atlantic Canada, we navigate the complexities of international trade with precision and expertise.
        Our dedicated team understands the unique challenges and opportunities within this region, offering tailored solutions to meet the specific needs of our clients.
      </p>

<!--      <br>-->
<!--      <p class="text-gray-700">-->
<!--        At Khan Traders, we pride ourselves on providing reliable services that transcend language barriers and trade intricacies.-->
<!--        Our commitment to excellence means that every transaction is executed with efficiency and precision, ensuring a hassle-free experience for our clients engaged in scrap import and export.-->
<!--      </p>-->

      <br>
      <p class="text-lg leading-8 text-gray-600 text-justify">
        In the vibrant landscape of Atlantic Canada, Khan Traders stands as a beacon of reliability and simplicity.
        Whether you are looking to import or export scrap materials, our team is equipped to handle the nuances of customs, logistics,
        and compliance, providing you with a comprehensive solution for your business needs.
      </p>

<!--      <br>-->
<!--      <p class="text-gray-700">-->
<!--        Join us in simplifying the scrap trade journey, where every interaction with Khan Traders is marked by dedication,-->
<!--        expertise, and a commitment to making your experience in Atlantic Canada's scrap market a successful and fulfilling one.-->
<!--      </p>-->

    </div>
  </div>
</div>

<div class="sm:flex flex-col items-center">
  <p class="mx-auto text-center font-semibold text-indigo-600 text-xl animate-pulse">
    Join us in simplifying the scrap trade journey
  </p>
  <p class="text-gray-500 mx-auto md:pl-40 md:pr-40 pl-10 pr-10 mt-4 font-semibold text-justify">
    Where every interaction with Khan Traders is marked by dedication,
    expertise, and a commitment to making your experience in Atlantic Canada's scrap market a successful and fulfilling one
  </p>
</div>


